<h1>LOG IN</h1>
<form action="<%= session_url%>" method="POST">
    <input type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">
    <label for="name">NAME
    </label>
    <input type="text"
            id="name"
            name="user[username]"
            value="">
    <label for="password">PASSWORD
    </label>
    <input type="text"
            id="password"
            name=user[password]
            value="">
    <input type="submit"
            value="LOG IN">
</form>